.courses_content {
  min-height: 40vh;
}

.schedule_content {
  min-height: 75vh;
}

.details_content{
  min-height: 80vh;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
.loginh1 {
  text-align: center;
  padding-top: 50px;
}

.signupBtn {
  align-content: right;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
